@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #f4e8dc;
    font-family: 'Poppins', sans-serif;
}

header nav {
    height: 100px;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav .logo {
    border-radius: 40px;
}

header nav a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    transition: 0.5s;
}

header nav a:hover {
    transform: scale(1.1);
    opacity: 1;
}

header nav .menu,
main .conteudo h1 {
    text-transform: uppercase;
}

header nav .inscricao {
    height: 50px;
    width: 150px;
    background: black;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    font-weight: 800;
}

header nav .inscricao:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
}

main .conteudo {
    height: 400px;
    margin-top: 150px;
}

main .conteudo h1 {
    opacity: 0.7;
    font-size: 15px;
}

main .conteudo p {
    margin-top: 10px;
    max-width: 550px;
    margin-bottom: 10px;
    opacity: 0.7;
}

main .conteudo .peca-agora {
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: none;
    background: green;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: 0.5s;
}

main .conteudo .peca-agora:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: transparent;
    color: green;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
}

main .conteudo .icones {
    display: flex;
    gap: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .drinks {
    height: 450px;
    margin-left: 200px;
    margin-top: 60px;
    transition: 0.5s;
}

main .drinks:hover{
    transform: scale(1.05);
}